body {
  min-height: 100vh;
}
.main-content {
  margin: 0 auto;
  padding: 20px;
}

@media (min-width: 992px) {
  .main-content {
    margin-left: 270px;
    margin-right: 270px;
  }
}

.bg-lite-purple{
  background-color: #EED9FA;
}
