/* src/styles/dashboard.css */
.sidebar {
  position: fixed;
  width: 270px;
  transition: transform 0.3s ease;
  z-index: 2; /* Higher z-index to appear on top */
}
.left-sidebar {
  transform: translateX(-100%);
}

.left-sidebar.show {
  transform: translateX(0);
}

.right-sidebar {
  
  right: 0;
  top: 20% !important;
  transform: translateX(100%);
}

.right-sidebar.show {
  transform: translateX(0);
}

.toggle-btn {
  top: 20px;
  cursor: pointer;
  z-index: 1000 !important;
}

.toggle-left {
  left: 10px;
}



   /* Designing for scroll-bar */
   ::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #aa14f0;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.right-sidebar.show {
  transform: translateX(0);
}

